.form-drop-zone-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within the container */
  font-size: 0.813rem;
}

.form-drop-zone-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align-last: center;
}

input::file-selector-button {
  display: flex;
  font-weight: bold;
  color: #0891b2;
  padding: 0.5em;
  margin: 2px;
  border: thin solid grey;
  border-radius: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input::file-selector-button:hover {
  text-decoration: underline 1px solid #0891b2;
}

.form-drop-zone-label input {
  width: 115px;
}

.form-drop-zone-message {
  padding: 0px 8px;
  color: #64748b;
}
