.form-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: white;
  height: 14rem;
  color: rgb(0 0 0);
  border-radius: 0.375rem;
  max-width: 600px;
  padding: 2rem;
}

.form-drop-zone {
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0.1em dashed #cbd5e1;
}

.form-span {
  width: 100%;
}
.form-validation {
  color: #dc2626;
  font-size: 0.75rem;
  text-align: center;
}

.form-name-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 820px) {
  .form-wrapper {
    height: auto; /* Set the height to auto or any other value you want for smaller screens */
    flex-direction: column;
  }

  .form-drop-zone {
    padding: 1rem 0.5rem 0rem;
  }

  .form-name-input {
    position: relative;
  }

  .form-span {
    position: absolute;
    top: 4.75rem;
  }
}
