.snackbar {
  position: fixed;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0d9488;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.snackbar-content {
  font-size: 13px;
}

.error {
  background-color: #f87171;
}
